body {background-color:#FFFFFF;
    color:#666666
}

h1{ background-color: #000033; 
    color:#FFFFFF;
    margin-bottom: 0;
}

nav{ background-color:#90C7E3; 
}

h2{color:#000033;
}

.resort { 
    color:#5C7FA3;
}

#contact {background-color: bisque;}


table {
        border: 2px solid #3399CC;
        border-collapse:collapse; 
} 

td,th {
        padding:0.5em;
        border: 2px solid #3399CC;
}

td {
        text-align: center;
}

.text {
        text-align: left;
}

tr:nth-of-type(odd) {
        background-color: #F5FAFC;
}

